
@{
    ViewBag.Title = "Yeu_thich";
}
<!--====== App Content ======-->
<div class="app-content">

    <!--====== Section 1 ======-->
    <div class="u-s-p-y-60">

        <!--====== Section Content ======-->
        <div class="section__content">
            <div class="container">
                <div class="breadcrumb">
                    <div class="breadcrumb__wrap">
                        <ul class="breadcrumb__list">
                            <li class="has-separator">

                                <a href="index", "Home")">Trang chủ</a>
                            </li>
                            <li class="is-marked">

                                <a href="Yeu_thich", "Home")">Yêu thích</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--====== End - Section 1 ======-->
    <!--====== Section 2 ======-->
    <div class="u-s-p-b-60">

        <!--====== Section Intro ======-->
        <div class="section__intro u-s-m-b-60">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="section__text-wrap">
                            <h1 class="section__heading u-c-secondary">YÊU THÍCH</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--====== End - Section Intro ======-->
        <!--====== Section Content ======-->
        <div class="section__content">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12">

                        <!--====== Wishlist Product ======-->
                        <div class="w-r u-s-m-b-30">
                            <div class="w-r__container">
                                <div class="w-r__wrap-1">
                                    <div class="w-r__img-wrap">

                                        <img class="u-img-fluid" src="https://media.discordapp.net/attachments/856338901069070347/1174410480048152627/8bebb0d5cc30f7be44ee2e5d8282d7c4.png?ex=65677dfd&is=655508fd&hm=1b3f25e561817033a22009c82ca2704d35b81c11c8b79081af18e6f6844f036e&=&width=567&height=567" alt="">
                                    </div>
                                    <div class="w-r__info">

                                        <span class="w-r__name">

                                            <a href="Trang_chi_tiet_san_pham", "Home")">Set quần áo Hoàng Thượng - Hoàn Châu Cách Cách</a>
                                        </span>

                                        <span class="w-r__category">

                                            <a href="Trang_san_pham", "Home")">Phụ kiện thú cưng</a>
                                        </span>

                                        <span class="w-r__price">
                                            160.000đ

                                            <span class="w-r__discount">189.000đ</span>
                                        </span>
                                    </div>
                                </div>
                                <div class="w-r__wrap-2">

                                    <a class="w-r__link btn--e-brand-b-2" data-modal="modal" data-modal-id="#add-to-cart">THÊM VÀO GIỎ HÀNG</a>

                                    <a class="w-r__link btn--e-transparent-platinum-b-2" href="Trang_chi_tiet_san_pham", "Home")">XEM</a>

                                    <a class="w-r__link btn--e-transparent-platinum-b-2" href="empty_YEU_thich", "Home")">LOẠI BỎ</a>
                                </div>
                            </div>
                        </div>
                        <!--====== End - Wishlist Product ======-->
                        <!--====== Wishlist Product ======-->
                        <div class="w-r u-s-m-b-30">
                            <div class="w-r__container">
                                <div class="w-r__wrap-1">
                                    <div class="w-r__img-wrap">

                                        <img class="u-img-fluid" src="https://media.discordapp.net/attachments/1174352085177864263/1174399587226755203/400575536_880687549905050_5359492202132871118_n.png?ex=656773d8&is=6554fed8&hm=5d135ed68ba33447f179419be78746dbf1bbefe03820f8c1b1ed26afe4a943e3&=&width=567&height=567" alt="">
                                    </div>
                                    <div class="w-r__info">

                                        <span class="w-r__name">

                                            <a href="Trang_chi_tiet_san_pham", "Home")">Bát đựng thức ăn nhựa</a>
                                        </span>

                                        <span class="w-r__category">

                                            <a href="Trang_san_pham", "Home")">Chăm sóc thú cưng</a>
                                        </span>

                                        <span class="w-r__price">
                                            19.000đ

                                            <span class="w-r__discount">20.000đ</span>
                                        </span>
                                    </div>
                                </div>
                                <div class="w-r__wrap-2">

                                    <a class="w-r__link btn--e-brand-b-2" data-modal="modal" data-modal-id="#add-to-cart">THÊM VÀO GIỎ HÀNG</a>

                                    <a class="w-r__link btn--e-transparent-platinum-b-2" href="Trang_chi_tiet_san_pham", "Home")">XEM</a>

                                    <a class="w-r__link btn--e-transparent-platinum-b-2" href="empty_YEU_thich", "Home")">LOẠI BỎ</a>
                                </div>
                            </div>
                        </div>
                        <!--====== End - Wishlist Product ======-->
                        <!--====== Wishlist Product ======-->
                        <div class="w-r u-s-m-b-30">
                            <div class="w-r__container">
                                <div class="w-r__wrap-1">
                                    <div class="w-r__img-wrap">
                                        <!-- Thêm sản phẩm-->
                                        <img class="u-img-fluid" src="https://cdn.discordapp.com/attachments/1174352085177864263/1174395296273412236/399996870_633617078718000_3458912288649802191_n.png?ex=65676fd9&is=6554fad9&hm=77ba48e34185f67bdceda8a51f119fac4ac0ea4b0e2dc34f9a658426eab01412&" alt="">
                                    </div>
                                    <div class="w-r__info">

                                        <span class="w-r__name">

                                            <a href="Trang_chi_tiet_san_pham", "Home")">Thức ăn cho chó Poodle MOSHM</a>
                                        </span>

                                        <span class="w-r__category">

                                            <a href="Trang_san_pham", "Home")">Dinh dưỡng thú cưng</a>
                                        </span>

                                        <span class="w-r__price">
                                            299.000đ

                                            <span class="w-r__discount">350.000đ</span>
                                        </span>
                                    </div>
                                </div>
                                <div class="w-r__wrap-2">

                                    <a class="w-r__link btn--e-brand-b-2" data-modal="modal" data-modal-id="#add-to-cart">THÊM VÀO GIỎ HÀNG</a>

                                    <a class="w-r__link btn--e-transparent-platinum-b-2" href="Trang_chi_tiet_san_pham", "Home")">XEM</a>

                                    <a class="w-r__link btn--e-transparent-platinum-b-2" href="empty_YEU_thich", "Home")">LOẠI BỎ</a>
                                </div>
                            </div>
                        </div>
                        <!--====== End - Wishlist Product ======-->
                    </div>
                    <div class="col-lg-12">
                        <div class="route-box">
                            <div class="route-box__g">

                                <a class="route-box__link" href="Trang_san_pham", "Home")">
                                    <i class="fas fa-long-arrow-alt-left"></i>

                                    <span>TIẾP TỤC MUA SẮM</span>
                                </a>
                            </div>
                            <div class="route-box__g">

                                <a class="route-box__link" href="Yeu_thich", "Home")">
                                    <i class="fas fa-trash"></i>

                                    <span>XÓA WISHLIST</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--====== End - Section Content ======-->
    </div>
    <!--====== End - Section 2 ======-->
</div>
<!--====== End - App Content ======-->
